<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JS-Academy Test ex.1</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
  </head>
  <body>
    <div class="card">
      <div class="img-container">
        <div class="status">OPEN</div>
        <div class="rate">
          <img src="../images/star.png" alt="Food" />
          <p>4.5</p>
        </div>
      </div>
      <div class="info">
        <div class="name-container">
          <h1 class="name">Happy Bones</h1>
          <p class="type">Italian</p>
          <p class="distance">1.2 km</p>
          <div class="users">
            <div class="user0">
              <img src="../images/avatar-1.jpg" alt="user1" />
            </div>
            <div class="user1">
              <img src="../images/avatar-2.jpg" alt="user2" />
            </div>
            <div class="user2">
              <img src="../images/avatar-3.jpg" alt="user3" />
            </div>
            <div class="user3">
              <p class="more-than-one">+2</p>
              <img src="../images/avatar-4.jpg" alt="user4" />
            </div>
          </div>
        </div>
        <div class="location-container">
          <h3 class="location">394 Broome St, New York, NY 10013, USA</h3>
        </div>
      </div>
    </div>
  </body>
</html>
