<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #313131;
        color: white;
      }
    </style>
    <script defer src="../script/main.js"></script>
  </head>

  <body>
    <h2 id="title" class="zdravo">Semos</h2>
    <div class="block">Semos edukacija</div>
    <div class="block">Semos edukacij1</div>
    <a href="#">link</a>
    <button id="btn">check date</button>
    <div id="result"></div>
    <button id="light_on" onclick="lightOn()">Light on</button>
    <button id="light_off">Light off</button>
    <img
      id="light"
      src="https://www.w3schools.com/js/pic_bulboff.gif"
      alt="lamba"
    />
    <form action="">
      <input type="text" name="inputField" id="inputField" />
      <button id="formBtn">Submit</button>
    </form>
    <!-- <script src="../script/main.js"></script> -->
  </body>
</html>
